docs/wsdl/sap_estudio_clientes_envio_automatico.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:sap-estudio:clientes-envio-automatico"
    targetNamespace="urn:sap-estudio:clientes-envio-automatico"
    name="SapEstudioClientesEnvioAutomatico">

  <wsdl:types>
    <xsd:schema
        targetNamespace="urn:sap-estudio:clientes-envio-automatico"
        elementFormDefault="qualified">

      <xsd:element name="ConsultarClientesEnvioAutomaticoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CodigoCliente" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SoloActivos" type="xsd:boolean" minOccurs="0" default="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ConsultarClientesEnvioAutomaticoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Clientes" type="tns:ClienteEnvioAutomatico" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="ClienteEnvioAutomatico">
        <xsd:sequence>
          <xsd:element name="CodigoCliente" type="xsd:string"/>
          <xsd:element name="Nombre" type="xsd:string"/>
          <xsd:element name="EnvioAutomatico" type="xsd:boolean"/>
          <xsd:element name="DireccionesCorreo" type="tns:DireccionCorreo" minOccurs="0" maxOccurs="3"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="DireccionCorreo">
        <xsd:sequence>
          <xsd:element name="Email" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="SapEstudioFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Codigo" type="xsd:string"/>
            <xsd:element name="Mensaje" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="ConsultarClientesEnvioAutomaticoInput">
    <wsdl:part name="parameters" element="tns:ConsultarClientesEnvioAutomaticoRequest"/>
  </wsdl:message>

  <wsdl:message name="ConsultarClientesEnvioAutomaticoOutput">
    <wsdl:part name="parameters" element="tns:ConsultarClientesEnvioAutomaticoResponse"/>
  </wsdl:message>

  <wsdl:message name="SapEstudioFaultMessage">
    <wsdl:part name="fault" element="tns:SapEstudioFault"/>
  </wsdl:message>

  <wsdl:portType name="SapEstudioClientesEnvioAutomaticoPortType">
    <wsdl:operation name="ConsultarClientesEnvioAutomatico">
      <wsdl:input message="tns:ConsultarClientesEnvioAutomaticoInput"/>
      <wsdl:output message="tns:ConsultarClientesEnvioAutomaticoOutput"/>
      <wsdl:fault name="SapEstudioFault" message="tns:SapEstudioFaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="SapEstudioClientesEnvioAutomaticoBinding" type="tns:SapEstudioClientesEnvioAutomaticoPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultarClientesEnvioAutomatico">
      <soap:operation soapAction="urn:sap-estudio:clientes-envio-automatico:ConsultarClientesEnvioAutomatico"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SapEstudioFault">
        <soap:fault name="SapEstudioFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SapEstudioClientesEnvioAutomaticoService">
    <wsdl:documentation>
      Servicio SOAP para consultar clientes definidos para envio automatico de facturas desde SAP ECC.
      La direccion del endpoint debe ajustarse segun el binding publicado en SOAMANAGER o SAP BTP.
    </wsdl:documentation>
    <wsdl:port name="SapEstudioClientesEnvioAutomaticoPort" binding="tns:SapEstudioClientesEnvioAutomaticoBinding">
      <soap:address location="https://example.com/sap/bc/srt/rfc/sap/zfm_sap_estudio_clientes_auto"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
